module.exports = `{

  "presets": [
    "es2015", "stage-0", "react","mobx",
    ["env", {

      "targets": {

        "browsers": ["last 2 versions", "IE 10"]

      }

    }]
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "js-logger"]

}
`